# 数据与缓存
/data/
/host/data/
.Lumi_cache/
*.md

# Python 垃圾
__pycache__/
*.pyc
.venv/
venv/
.env

# Flutter 编译产物
/client/build/
/client/.dart_tool/
/client/.flutter-plugins
/client/.flutter-plugins-dependencies

# IDE 与系统
.vscode/
.idea/
.DS_Store

# 允许文档
!README.md
